:root {
    --button: #2196F3;  
    --header-foot-bg: #2F303A;
    --subtext: #757575;
    --command-bg: #F5F4FA;
    --text: #FFFFFF;
    --black: #000000;
    --command-text: #212121;
}

.logo {
    font-family: "RaleWay";
    font-weight: 700;
}

.main-nav {
    font-family: "Roboto";
    font-weight: 500;
}

.contacts {
    font-family: "Roboto";
    font-weight: 500;
}