:root {
    --button: #2196F3;  
    --header-foot-bg: #2F303A;
    --subtext: #757575;
    --command-bg: #F5F4FA;
    --text: #FFFFFF;
    --black: #000000;
    --command-text: #212121;
}

.nav-item {
    color: var(--command-text);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.services {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--text);
}

.features {
    font-family: "Roboto";
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.team {
    font-family: "Roboto";
    padding-top: 94px;
    padding-bottom: 94px;
}

.services-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.features-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
}

.features-item-text {
    color: var(--subtext);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    color: var(--command-text);
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    color: var(--subtext);
}