:root {
    --button: #2196F3;  
    --header-foot-bg: #2F303A;
    --subtext: #757575;
    --command-bg: #F5F4FA;
    --text: #FFFFFF;
    --black: #000000;
    --command-text: #212121;
    --container-bg: #EEEEEE;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER */
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 700;
    color: var(--button);
    font-size: 26px;
}

.logo::after {
    display: inline;
    content: "Studio";
    color: var(--black);
    font-family: "Raleway";
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.main-nav a{
    color: var(--command-text);
}
.main-nav a:hover {
    color: var(--button);
}

.nav-item {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-list {
    display: flex;
    gap: 50px;
}

.contact-item a{
    color: var(--subtext);
}

.contact-item a:hover {
    color: var(--button);
}

/* HERO */
.hero {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    letter-spacing: 6%;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--text);
}

.hero-btn {
    font-weight: 700px;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    border: none;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    color: var(--text);
    background-color: var(--button);
    box-shadow: 10px 2px 5px 0px rgba(0, 0, 0, 0.15)
}


.features {
    font-family: "Roboto";
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    position: relative;
    padding-top: 150px;
    text-align: center;
}


.features-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 270px;
    height: 120px;

    transform: translateX(-50%);

    background-color: var(--command-bg);
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;

    z-index: 0;
}

.features-item:nth-child(1)::before {
    background-image: url('../images/antenna.svg');
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.features-item:nth-child(2)::before {
    background-image: url("../images/cloc.svg");
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.features-item:nth-child(3)::before {
    background-image: url("../images/diagram.svg");
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.features-item:nth-child(4)::before {
    background-image: url("../images/astronaut.svg");
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.features-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
}

.features-item-text {
    color: var(--subtext);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
}

/* SERVICES */

.services {
    padding-bottom: 94px;
}

.services-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.services-item {
    flex: 1;
}

/* TEAM */
.team {
    display: block;
    font-family: "Roboto";
    padding-top: 94px;
    padding-bottom: 94px;
    gap: 30px;
    background-color: var(--command-bg);
}

.team-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    color: var(--subtext);
    margin-top: 10px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team-member {
    text-align: center;
    width: 270px;
    height: 380px;
    background: var(--text);
    border-radius: 0 0 4px 4px;
    box-shadow: 
        0px 1px 0px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-sizing: content-box;

}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    color: var(--command-text);
}

.team-image {
    width: 270px;
    height: 260px;
}


/* FOOTER */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--button);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer .logo::after {
  content: 'Studio';
  color: #FFFFFF;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.foot-list-item {
  margin-bottom: 9px;
}

.foot-list-item:last-child {
  margin-bottom: 0;
}

.foot-list-item p {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.foot-list-item a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* PORTFOLIO PAGE */

.portfolio {
    padding-top: 94px;
}


.btn-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 50px;
}

.btn-item button {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: var(--command-bg);
    color: var(--command-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--command-text);
    font-family: "Roboto";
}

.btn-item button:hover {
    background-color: var(--button);
    color: var(--text);
    font-weight: 500;
    box-shadow: 
        0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.main {
    padding-bottom: 94px;
}

.main-list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-right: 30px;
}

.card .subtitle {
    margin-bottom: 0;
}

.card {
    width: 370px;
    height: 404px;
    border: 1px solid var(--container-bg);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}


.card:hover {
    box-shadow: 
        0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        1px 4px 6px 0px rgba(0, 0, 0, 0.16);

}

.card img {
    width: 100%;
    display: block;
}

.card h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--command-text);

    margin: 20px 0 4px 24px;
}

.card .subtitle {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--subtext);
    margin: 0;
    padding-left: 24px;
    margin-top: auto;
    padding-bottom: 20px;
}