:root {
    --button: #2196F3;  
    --header-foot-bg: #2F303A;
    --subtext: #757575;
    --command-bg: #F5F4FA;
    --text: #FFFFFF;
    --black: #000000;
    --command-text: #212121;
}

.services {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
    font-family: "Roboto";
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
}

.hero-title {
    font-family: "Roboto";
    line-height: 1.36;
    font-weight: 900;
}

.features {
    font-family: "Roboto";
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    font-family: "Roboto";
    padding-top: 94px;
    padding-bottom: 94px;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}