@use '../utils/mixins' as *;
@use '../utils/placeholders' as *;

.contacts {
    &__list {
        @include flex-row(50px);
    }

    &__item {
        @extend %flex-center;
        gap: 10px;

        &:hover .contacts__icon,
        &:focus-within .contacts__icon {
            fill: var(--color-accent);
        }
    }

    &__link {
        @extend %link-reset;
        color: var(--color-text-secondary);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        @include transition(color);

        @include hover-accent(color);
    }

    &__icon {
        width: 16px;
        height: 16px;
        fill: var(--color-text-secondary);
        @include transition(fill);
    }
}