.features {
    font-family: "Roboto";
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    text-align: center;
    flex: 1;
    animation: fadeInLeft 600ms cubic-bezier(0.4, 0, 0.2, 1) both;
}

.features-icon-box {
    max-width: 100%;
    background-color: var(--color-bg-light);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 30px;
}

.features-icon-box img {
    display: none;
}

.features-icon-box::before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.features-item:nth-child(1) .features-icon-box::before { background-image: url(../images/antenna.svg); }
.features-item:nth-child(2) .features-icon-box::before { background-image: url(../images/clock.svg); }
.features-item:nth-child(3) .features-icon-box::before { background-image: url(../images/diagram.svg); }
.features-item:nth-child(4) .features-icon-box::before { background-image: url(../images/astronaut.svg); }

.features-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.features-item-text {
    color: var(--color-text-secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}



.features-item:nth-child(1) { animation-delay: 0ms; }
.features-item:nth-child(2) { animation-delay: 150ms; }
.features-item:nth-child(3) { animation-delay: 300ms; }
.features-item:nth-child(4) { animation-delay: 450ms; }
