@use '../utils/mixins' as *;
@use '../utils/placeholders' as *;

.features {
    @include section-padding;
    font-family: "Roboto";

    &__list {
        @include flex-row(30px);
    }

    &__item {
        text-align: center;
        flex: 1;
        animation: fadeInLeft 600ms cubic-bezier(0.4, 0, 0.2, 1) both;

        &:nth-child(1) {
            animation-delay: 0ms;

            .features__icon-box::before {
                background-image: url(../images/antenna.svg);
            }
        }

        &:nth-child(2) {
            animation-delay: 150ms;

            .features__icon-box::before {
                background-image: url(../images/clock.svg);
            }
        }

        &:nth-child(3) {
            animation-delay: 300ms;

            .features__icon-box::before {
                background-image: url(../images/diagram.svg);
            }
        }

        &:nth-child(4) {
            animation-delay: 450ms;

            .features__icon-box::before {
                background-image: url(../images/astronaut.svg);
            }
        }
    }

    &__icon-box {
        @extend %flex-center;
        max-width: 100%;
        background-color: var(--color-bg-light);
        border-radius: 4px;
        padding: 25px 0;
        margin-bottom: 30px;

        img {
            display: none;
        }

        &::before {
            content: '';
            display: block;
            width: 70px;
            height: 70px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }

    &__text {
        color: var(--color-text-secondary);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
}