@use '../utils/mixins' as *;
@use '../utils/placeholders' as *;

.hero {
    @extend %flex-column;
    @include section-padding(200px, 200px);
    @include bg-cover('../images/background.jpg');
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;

    &__title {
        max-width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: var(--color-text-white);
        font-family: "Roboto";
        animation: fadeInUp 800ms cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    &__btn {
        @include btn-accent(10px 32px);
        font-size: 16px;
        line-height: 30px;
        margin: 30px auto 0;
        display: block;
        box-shadow: 10px 2px 5px 0px rgba(0, 0, 0, 0.15);
        white-space: nowrap;
        animation: fadeInUp 800ms 200ms cubic-bezier(0.4, 0, 0.2, 1) both;

        &:hover,
        &:focus {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        }
    }
}