@use '../utils/mixins' as *;
@use '../utils/placeholders' as *;

.services {


    @media (max-width: 1199px) {
        display: none;
    }

    @media (min-width: 1200px) {
        @include section-padding(0, 94px);
    }

    &__title {
        @extend %section-title;
    }

    &__list {
        @include flex-row(30px, space-between);
    }

    &__item {
        position: relative;
        overflow: hidden;
    }

    &__image {
        @extend %img-block;
        height: 100%;
    }

    &__label {
        @extend %flex-center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 27px 0;
        background: var(--color-overlay-services);
        color: var(--color-text-white);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}