@use '../utils/mixins' as *;
@use '../utils/placeholders' as *;

.services {
    @include section-padding(0, 94px);

    &__title {
        @extend %section-title;
    }

    &__list {
        @include flex-row(30px, space-between);
    }

    &__item {
        position: relative;
        overflow: hidden;
    }

    &__image {
        @extend %img-block;
        height: 100%;
    }

    &__label {
        @extend %flex-center;
        @extend %overlay;
        bottom: auto;
        top: auto;
        bottom: 0;
        height: auto;
        padding: 27px 0;
        background: var(--color-overlay-services);
        color: var(--color-text-white);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}